:root {
  --header-height: 56px;

  /* home page */
  --home-aside-height: 56px;
  --home-nav-width: 224px;

  /* watch page */
  --watch-title-height: 66px;
  --watch-description-height: 144px;
  --watch-thumbnail-height: 168px;
  --watch-thumbnail-width: 94px;
  --watch-aside-width: 400px;
}

/*
  main page
*/
@media screen and (max-width: 1328px) and (min-width: 807px){
  :root {
    --aside-height: 56px;
    --nav-width: 56px;
  }
}

@media screen and (max-width: 807px){
  :root {
    --aside-height: 0px;
    --nav-width: 0px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
