.container {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: yellow;
}

.aside {
  position: absolute;
  top: var(--header-height);
  left: var(--nav-width);
  width: calc(100vw - var(--nav-width));
  height: var(--aside-height);
  background-color: royalblue;
}

.nav {
  position: absolute;
  top: var(--header-height);
  width: var(--nav-width);
  height: calc(100vh - var(--header-height));
  background-color: yellowgreen;
}

.main {
  position: absolute;
  top: calc(var(--header-height) + var(--aside-height));
  left: var(--nav-width);
  background-color: green;

}